/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');

/* Remove anchor default style */
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

/* Styles */
body {
    background: #111;
    color: white;
}

img {
    border-radius: 50%;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.use-roboto {
    font-family: 'Roboto', sans-serif;
}

a, p {
    font-family: 'Lato', Fallback, sans-serif;
}

#page {
    padding-top: 3%;
}

#card h1 {
    padding-top: 5%;
}

#commands {
    line-height: 0.6;
    padding-top: 5%
}

#footer {
    padding-top: 3%;
    line-height: 0.5;
    color: rgb(43, 42, 42);
}